# Virtual environment (venv)
venv/
.env/
.venv/
idea/
.idea/
__pycache__/


# Distribution / Packaging
dist/
build/

# Database files
*.sqlite3
*.db

# Environment variables and secrets
.env
*.secret
config.json
secrets.json
.vercel


__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.zip
*.tar.gz
tests/
dev_scripts/
